* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
h3 {
  font-size: 35px;
}
nav {
  padding: 55px 100px;
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 25px;
}
nav .nav-image {
  width: 60px;
  object-fit: contain;
}
.section-information img {
  stroke: white;
  width: 900px;
  height: auto;
}
.section-information {
  display: grid;
  grid-template-columns: 4fr 2fr;
}
.section-information-text h1 {
  padding-bottom: 20px;
  font-size: 50px;
}
.section-information-text {
  align-self: center;
  padding: 30px;
}

.section-mision {
  font-size: large;
  padding: 60px 150px;
  width: 100%;
  height: 700px;
  background-color: black;
  color: white;
}

.container-mision {
  padding-top: 80px;
  display: grid;
  grid-template-rows: 2fr 1.5fr;
  grid-template-columns: 2fr 2fr;
  gap: 20px;
}
.item1 {
  width: 300px;
  height: 150px;
}
.container-mision :nth-child(3) {
  align-self: end;
}
.item3 {
  padding-top: 40px;
  grid-column: span 2;
}
.container-mision img {
  background: transparent;
  right: 500px;
  width: 100px;
  height: auto;
  position: absolute;
}

footer {
  color: white;
  background-color: black;
  padding: 50px 0px;
  text-align: center;
}
svg {
  margin: 20px;
}
